body {
    background: rgb(34,149,195);
    background: linear-gradient(0deg, rgba(34,149,195,1) 0%, rgb(255, 255, 255) 100%);
    font-family: 'Roboto Condensed', sans-serif;
    vertical-align: center;
}

h2 {
    font-size: 36px;
}

.btn {
    vertical-align: middle;
    text-align: center;

}

input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  img {
    border-radius: 10%;
  }


